@import url(base.css);
header {
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url(../../img/alessia-galimberti-xI5EneMQHLk-unsplash.jpg);
    background-attachment: fixed;
}
.head__nav{
    background-color: rgba(54, 19, 84, .3);
}
.offers__container {
    padding: 90px 0;
}
.offers__container__filter > ul > li {
    list-style: none;
    display: inline-block;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    border: solid 1.5px #999;
    padding-left: 25px;
    padding-right: 14px;
    margin-right: 16px;
    margin-bottom: 20px;
    position: relative;
}
.offers__container__filter li > i {
    padding-left: 55px;
    color: #333;
}
.offers__container__filter--list {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(54, 19, 84, .3);
    animation: fadeIn linear .5s;
    padding: 0;
    background-color: #fff;
}
.offers__container__filter>ul>li:hover .offers__container__filter--list{
    display: block;
}
.offers__container__filter--list li {
    list-style: none;
    text-align: center;
    padding: 0 15px;
}
.offers__container__item {
    margin-top: 70px;
    position: relative;
}
.offers__content__review {
    display: flex;
    align-items: center;
    position: absolute;
    right: 3%;
}
.offers__content__review--text h5 {
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}
.offers__content__review--text span {
    font-size: 13px;
    text-transform: uppercase;
    color: #777;
}
.offers__content__review > span {
    color: var(--white-color);
    font-size: 25px;
    border-radius: 50%;
    padding: 18px 10px;
    margin-left: 10px;
    background-color: var(--primary-color);
}
.offers__item__content p {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin: 16px 0;
    line-height: 2;
}
.offers__container__item>.row>.col {
    position: relative;
}
.offers__item__img--content {
    padding-right: 20px;
}
.offers__item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.offers__item__img--name {
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 180px;
    height: 33px;
    background: var(--primary-color);
    overflow: hidden;
    transition: all ease-in-out .3s;
}
.offers__item__img--name a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 22px;
}

.offers__item__price {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 25px;
}
.offers__item__rating {
    margin-top: 5px;
}
.offers__item__rating i{
    font-size: 14px;
    color: #a5a5a5;
}
.offers__item__rating .rated {
    color: #fbb53d;
}
.offers__btn {
    float: right;
    margin-top: 20px;
}